html {
    scroll-padding-top: 110px;
}

body {
    font-family: 'Inter', sans-serif;      
        padding-top: 60px;
        margin: 0;
}


/*-- Nav bar code here --*/
a.nav-link {
    padding: 20px;
    margin: 0;
    align-items: right;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'inter';
    color: black;
    float: right;
}

a.nav-link:hover {
    color: #006341;
}

a.nav-link button {
    padding-left: 4px;
    margin: 0px;
    text-decoration: none;
    background-color: #1E3932;
    color: white;
    border-radius: 30px;
    outline: none;
    border: none;
    width: 120px;
    height: 30px;
    background-size: contain;
    font-size: 16px;
}

a.nav-link button:hover {
    background-color: #006341;
    transition: ease-in-out;
    text-transform: bold;
    
}

div.topnav-right {
    text-align: right;
    padding: 14px,16px;
    margin-right: 12px;
    text-decoration: none;
    font-size: 17px;
    display: inline-flex;
    justify-content: right;
}

.fixed-header {
    width: 100%;
    position: fixed;        
    background:#1E3932;
    padding-top: 10px 0;
    padding-bottom: 30px;
    color: #fff;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.5);
    top: 0;
    z-index: 1;
}

/*-- Nav bar code here ends--*/

/*-- hero here--*/
div.row {
    margin: 0;
    padding: 0;
    height: 100vh;
    width:100vw;
}


.leftside, .rightside {
    height: 50vh;
    width: 100%;

}

@media screen and (min-width:800px) {
    
    .leftside, .rightside {

        height: 100vh;
    }

}

.leftside {
    background-image: url(../images/Rewards.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.rightside {
    background-image: url(../images/cup_and_guy.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.wrapper {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100vh;
}

.wrapper .leftside:hover .images,
.wrapper .rightside:hover .images
{
    transform: scale(1.2);
}
/*-- hero here ends--*/

/*-- About starts here --*/

section .About {
    background-color: #1e3932;
}

.Rectangle-120 {
    width: 1728px;
    height: 1308px;
    flex-grow: 0;
    margin: 0 0 12px;
    padding: 99px 132px 174px 203px;

  }


.About-STARBUCKS-kiosk {
    width: 1079px;
    height: 76px;
    flex-grow: 0;
    margin: 0 193px 26px 121px;
    font-family: Inter;
    font-size: 67px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

div.aboutit {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #1E3932;
}

div.aboutdis {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #006341;
}

@media screen and (max-width: 900px) and (min-width: 400px) {
    div.aboutdis {
        padding-left: 40px;
        padding-right: 40px;
    }
}


  .About-STARBUCKS-kiosk .text-style-1 {
    font-weight: normal;
  }

  .Starbucks_about_dis {
    width: 100px;
    height: 90px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 25px;
    text-align: center;
    color: #fff;
  }

  div.aboutdis img {
    padding-top: 120px;
    align-items:center ;
  }

  .grid {
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    grid-auto-rows:minmax(100px, auto);
    grid-gap:1.5em;
    viewport-fit: contain;
    justify-content: center;
    padding-top: 30px;
    
  }
  
  .box1{
    grid-column:1/2;
    grid-row: 1/4;
    background-image: url(../images/Beverage_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 590px;
    height: 711px;
  }
  
  .box2{
    grid-column:2/4;
    grid-row:1/3;
    background-image: url(../images/Custom_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 598px;
    height: 355px;
  }
  
  .box3{
    grid-column:2;
    grid-row:3;
    background-image: url(../images/Order_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 272px;
    height: 312px;
  }
  
  .box4{
    grid-column:3;
    grid-row:3;
    background-image: url(../images/Star_4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 272px;
    height: 312px;
  }


/*--About Ends Here--*/

/*--Demo section starts here--*/

.Demo_kiosk {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size:67px;
    font-family: inter;
    font-weight: bold;
    color: #ffffff;
}

.Demo {
    height: 76px;
    flex-grow: 0;
    margin: 0 0 26px 0;
    font-family: Inter;
    font-size: 67px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

div.demoit {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #1E3932;
}

div.demodis {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #006341;
}

@media screen and (max-width: 1200px) and (min-width: 400px) {
    div.demodis {
        padding-left: 40px;
        padding-right: 40px;
    }
}

  .Demo .text-style-2 {
    font-weight: normal;
  }

  .Starbucks_demo_dis {
    width: 100px;
    height: 90px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 25px;
    text-align: center;
    color: #fff;
  }

  div.demodis img {
    padding-top: 120px;
    align-items:center ;
  }

div.jumbotron.jumbotron {
    padding: 0;
    margin: 0;
}

div.bgcontainer {
    background-image: url(../images/Pro_refresh_2.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    border-style: none;
    background-size: contain;
    background-position-x: right;
    background-attachment: fixed;
    text-align: start;
    padding: 0;
}

div.bgcontainer h1.display-4 {
    font-weight: bold;
    font-style: none;
    color: #CBA258;
    padding-left: 50px;
    text-emphasis:initial;
    text-emphasis-color: green;
}

div.bgcontainer p {
    padding-left: 50px;
    color: #1e3932;
    font-size: 46px;
}

div.grid1 {
    background-color: transparent;
}

#bgvideo {
    min-width: 25%;
    min-height: 50vh;
}
/*--Demo section ends here--*/

.footer {
    position:relative;
    left: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    line-height: 3rem;
    height: 100px;
    padding-left: 50px;

}