body {
    font-family: 'Inter', sans-serif;      
        padding-top: 60px;
        padding-bottom: 40px;
}

html {
    scroll-behavior: smooth;
}

/*-- Nav bar code here --*/
a.nav-link {
    padding: 20px;
    margin: 0;
    align-items: right;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'inter';
    color: black;
    float: right;
}

a.nav-link:hover {
    color: #006341;
}

a.nav-link button {
    padding-left: 4px;
    margin: 0px;
    text-decoration: none;
    background-color: #1E3932;
    color: white;
    border-radius: 30px;
    outline: none;
    border: none;
    width: 140px;
    height: 40px;
    background-size: contain;
}

div.topnav-right {
    text-align: right;
    padding: 14px,16px;
    margin-right: 12px;
    text-decoration: none;
    font-size: 17px;
    display: inline-flex;
    justify-content: right;
}

.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background:#1E3932;
    padding-top: 10px 0;
    padding-bottom: 30px;
    color: #fff;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.5);
}
.fixed-header{
    top: 0;
}

/*-- Nav bar code here ends--*/

/*-- hero here--*/
div.col1 {
    background-color: rgb(255, 255, 255);
    background-image: url("../images/Rewards.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    column-width: 50px;
}

div.col2 {
    background-color: #1E3932;
    background-color: rgb(255, 255, 255);
    background-image: url("../images/cup_and_guy.png");
    background-position: center;
    background-repeat: no-repeat;
    column-width: 50vw;
    background-size:cover;
}

div.row {
    margin: 0;
    padding: 0;
    height: 100vh;
    width:50vw;
}

div.container {
    width: 100vw;
}
/*-- hero here ends--*/

/*-- About starts here --*/

section .About {
    background-color: #1e3932;
}

.Rectangle-120 {
    width: 1728px;
    height: 1308px;
    flex-grow: 0;
    margin: 0 0 12px;
    padding: 99px 132px 174px 203px;

  }


.About-STARBUCKS-kiosk {
    width: 1079px;
    height: 76px;
    flex-grow: 0;
    margin: 0 193px 26px 121px;
    font-family: Inter;
    font-size: 67px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

div.aboutit {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #1E3932;
}

div.aboutdis {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #006341;
}

@media screen and (max-width: 900px) and (min-width: 400px) {
    div.aboutdis {
        padding-left: 40px;
        padding-right: 40px;
    }
}


  .About-STARBUCKS-kiosk .text-style-1 {
    font-weight: normal;
  }

  .Starbucks_about_dis {
    width: 100px;
    height: 90px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 25px;
    text-align: center;
    color: #fff;
  }

  div.aboutdis img {
    padding-top: 120px;
    align-items:center ;
  }