html {
    scroll-padding-top: 110px;
}

body {
    font-family: 'Inter', sans-serif;      
        padding-top: 60px;
        margin: 0;
}


/*-- Nav bar code here --*/
a.nav-link {
    padding: 20px;
    margin: 0;
    align-items: right;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'inter';
    color: black;
    float: right;
}

a.nav-link:hover {
    color: #006341;
}

a.nav-link button {
    padding-left: 4px;
    margin: 0px;
    text-decoration: none;
    background-color: #1E3932;
    color: white;
    border-radius: 30px;
    outline: none;
    border: none;
    width: 120px;
    height: 30px;
    background-size: contain;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

a.nav-link button:hover {
    background-color: #006341;
    transition: ease-in-out;
    text-transform: bold;
    
}

div.topnav-right {
    text-align: right;
    padding: 16px,18px;
    margin-right: 12px;
    text-decoration: none;
    font-size: 20px;
    display: inline-flex;
    justify-content: right;
}

.fixed-header {
    width: 100%;
    position: fixed;        
    background:#1E3932;
    padding-top: 10px 0;
    padding-bottom: 30px;
    color: #fff;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.5);
    top: 0;
    z-index: 1;
}

/*-- Nav bar code here ends--*/

/*--splash--*/

/*--splash ends--*/

/*-- hero here--*/
div.row {
    margin: 0;
    padding: 0;
    height: 100vh;
    width:100vw;
}


.leftside, .rightside {
    height: 50vh;
    width: 100%;

}

@media screen and (min-width:800px) {
    
    .leftside, .rightside {

        height: 100vh;
    }

}

.leftside {
    background-image: url(../images/Rewards.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.rightside {
    background-image: url(../images/cup_and_guy.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.wrapper {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100vh;
}

.wrapper .leftside:hover .images,
.wrapper .rightside:hover .images
{
    transform: scale(1.2);
}
/*-- hero here ends--*/

/*-- About starts here --*/

section .About {
    background-color: #1e3932;
}

.Rectangle-120 {
    width: 1728px;
    height: 1308px;
    flex-grow: 0;
    margin: 0 0 12px;
    padding: 99px 132px 174px 203px;

  }


.About-STARBUCKS-kiosk {
    width: 1079px;
    height: 76px;
    flex-grow: 0;
    margin: 0 193px 26px 121px;
    font-family: Inter;
    font-size: 67px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

div.aboutit {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #1E3932;
}

div.aboutdis {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #006341;
}

@media screen and (max-width: 900px) and (min-width: 400px) {
    div.aboutdis {
        padding-left: 40px;
        padding-right: 40px;
    }
}


  .About-STARBUCKS-kiosk .text-style-1 {
    font-weight: normal;
  }

  .Starbucks_about_dis {
    width: 100px;
    height: 90px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 25px;
    text-align: center;
    color: #fff;
  }

  div.aboutdis img {
    padding-top: 120px;
    align-items:center ;
  }

  .grid {
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    grid-auto-rows:minmax(100px, auto);
    grid-gap:1.5em;
    viewport-fit: contain;
    justify-content: center;
    padding-top: 30px;
    
  }
  
  .box1{
    grid-column:1/2;
    grid-row: 1/4;
    background-image: url(../images/Beverage_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 590px;
    height: 711px;
  }
  
  .box2{
    grid-column:2/4;
    grid-row:1/3;
    background-image: url(../images/Custom_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 598px;
    height: 355px;
  }
  
  .box3{
    grid-column:2;
    grid-row:3;
    background-image: url(../images/Order_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 272px;
    height: 312px;
  }
  
  .box4{
    grid-column:3;
    grid-row:3;
    background-image: url(../images/Star_4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 272px;
    height: 312px;
  }


/*--About Ends Here--*/

/*-- FAQs section--*/

.Demo_kiosk {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size:67px;
    font-family: inter;
    font-weight: bold;
    color: #ffffff;
}

.Demo {
    height: 76px;
    flex-grow: 0;
    margin: 0 0 26px 0;
    font-family: Inter;
    font-size: 67px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

.demodis h1 {
    font-size: xx-large;
    font-weight: bolder;
}

div.demoit {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #1E3932;
}

div.demodis {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #006341;
}

.demodis h1 {
    font-size: xx-large;
    font-weight: bolder;
    padding-bottom: 20px;
}

@media screen and (max-width: 1200px) and (min-width: 400px) {
    div.demodis {
        padding-left: 40px;
        padding-right: 40px;
    }
}

  .Demo .text-style-2 {
    font-weight: normal;
  }

  .Starbucks_demo_dis {
    width: 100px;
    height: 90px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 25px;
    text-align: center;
    color: #fff;
  }

  div.demodis img {
    padding-top: 120px;
    align-items:center ;
  }

div.jumbotron.jumbotron {
    padding: 0;
    margin: 0;
}

div.bgcontainer {
    background-image: url(../images/Pro_refresh_2.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
    border-style: none;
    background-size: contain;
    background-position-x: right;
    background-attachment: fixed;
    text-align: start;
    padding: 0;
}

div.bgcontainer h1.display-4 {
    font-weight: bold;
    font-style: none;
    color: #CBA258;
    padding-left: 50px;
    text-emphasis:initial;
    text-emphasis-color: green;
    padding-top: 45px;
}

div.bgcontainer p.Dis1 {
    padding-left: 50px;
    padding-right: 250px;
    color: #1e3932;
    font-size: 36px;
}

p.response1 {
    background-color: transparent;
    padding-left: 5%;
    font-size: 20px;
    color: #1E3932;
    font-weight: bold;
    padding-right: 62%;
}

div.bgcontainer p.Dis2 {
    padding-left: 50px;
    padding-right: 250px;
    color: #1e3932;
    font-size: 36px;
}

p.response2 {
    background-color: transparent;
    padding-left: 5%;
    font-size: 20px;
    color: #1E3932;
    font-weight: bold;
    padding-right: 62%;
}

div.bgcontainer p.Dis3 {
    padding-left: 50px;
    padding-right: 250px;
    color: #1e3932;
    font-size: 56px;
    font-size:36px;
}

p.response3 {
    background-color: transparent;
    padding-left: 5%;
    font-size: 20px;
    color: #1E3932;
    font-weight: bold;
    padding-right: 62%;
}

div.grid1 {
    background-color: transparent;
}

#bgvideo {
    min-width: 25%;
    min-height: 50vh;
}

div.jumbotron-fluid{
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/*-- FAQs section ends--*/

/*-- Locations start here--*/

.search {
display: flex;
text-align: center;
justify-content: center;
font-size:67px;
font-family: inter;
font-weight: bold;
color: #ffffff;
background-color: #1E3932;
height: 200px;
padding-top: 50px;
}

.box{
    width: 100%;
    text-align:center;
}

.Store-Locator-Starbucks-Coffee-Company-1-1 {
    width: 100%;
    height: 45vh;
    margin:0;
    padding: 0;
  }

.box_search1 {
    padding-left: 100px;
}

/*-- Modal css contact up page --*/

.myBtn {
    width: 150px;
    background-color: #1E3932;
    color: #ffffff;
    border-radius: 30px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    outline: none;
}

.myBtn:hover {
    background-color:#006341;
    transition: 0.5ms;

}

.input {
    width: 30vw;
    height: 50vh;
    border-radius: 5px;
    border-color: #1E3932;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.modal-content h2 {
    display: flex;
    position: static;
}

.forumtext {
    display: flex;
    position:static;
    right: 60px;
    font-size: large;
    padding-bottom: 0;
}

.modal-bg {
    display: flex; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.myModal{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    margin: 0;
    padding: 5%;
    align-items: center;
    height: 60vh;
    border: 1px solid #888;
}

div.modal-content {
    width: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    position:absolute;
    margin-left: 25%;


}
.modal-content button {
    margin-top: 10px;
}

.modal-content p {
    margin-top: 10px;
    padding-top: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.block {
    width: 100%;
    height: 50vh;

}

.close {
    color: #aaaaaa;
    position:absolute;
    top: 10px; right: 20px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/*-- Modal css contact up page ends --*/


/*-- live map
.gmap_canvas {overflow:hidden;background:none!important;height:440px;width:650px;}
--*/


/*-- Location ends--*/

.footer {
    display: flex;
    justify-content: flex-start;
    position:relative;
    left: 0;
    width: 100%;
    min-height: 50vh;
    background-color: #1E3932;
    color: white;
    text-align: center;
}

.footer {
    display: grid;
    align-items: left;
    justify-content: left;
    line-height: 3rem;
    height: 100px;
    padding-left: 50px;
    text-align:start;
}

.footer .boxlogo {
    display: flex;
    justify-content:flex-start;
    align-items:center;
    padding-top: 5px;
 
  }

  .footer .boxtext {
    grid-column: 1;
    grid-row: 2;
    padding-left: 5px;
    text-decoration: none;
    padding-right: 150px;
 }

.footer {
    font-size: 18px;
}